.mainimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.features {
  font: 800 1rem/1.5rem "Open Sans", sans-serif !important;
}

.topTitleCard{
    background-color: rgba(185, 198, 215, 0.5);
  padding: 3%;
}

.subtitle {
  font: 800 1rem/1.5rem "Open Sans", sans-serif;
  /* background-color: rgba(0, 0, 0, 0.3);*/
  border-radius: 10px;
  font-size: 1.2rem;
}

.header {
  background: linear-gradient(
      to bottom right,
      rgba(72, 72, 212, 0),
      rgba(241, 104, 104, 0)
    ),
    url("../images/backgrounds/growth-hand-little-1072824.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  /* background-position: 0px -120px; */
  height: 100vh;
}

@media (min-width: 768px) {
  .header {
    background-position: 0% 0%;
  }
}

.header-content {
  padding-top: 5rem !important;
}

.navbar-custom .nav-item .nav-link {
  color: black !important;
}

.navbar-custom .nav-item .nav-link:hover {
  color: lightgrey !important;
}

.part-why {
  background: linear-gradient(
      to bottom right,
      rgba(72, 72, 212, 0),
      rgba(241, 104, 104, 0)
    ),
    url("../images/backgrounds/background-why.png") no-repeat;
  background-size: cover;
  /* background-position: 0px -120px; */
  border-top: 8px solid #003B71;
  border-bottom: 8px solid #003B71;
}

.blue-font {
  color: #003B71;
}

.blue-background {
  background-color: #B9C6D7;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.tight {
  padding: 0;
  margin: 0;
}

.tabs {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1.5rem;
}

.p-heading.p-larger {
  margin-bottom: 1.5rem;
}

.counter {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
  text-align: center;
}

.binv > b {
  color: #a01f1f;
}

.mark-it {
  color: grey;
}

.p-larger {
  /* background-color: rgba(0, 0, 0, 0.3);*/
  font-size: 1.2rem;
  line-height: 2rem;
}

@media (min-width: 576px) {
}

#features {
  background-color: #B9C6D7;;
  padding-top: 2rem;
}

.feature-element{
  color: black;
}

.center-text {
  text-align: center;
}

#features {
  padding-top: 5rem;
}
.card-icon {
  background-color: #fff !important;
}

.catchphrase {

}
