.mainimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bordered-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.subtitle {
    font: 800 1rem/1.5rem "Open Sans", sans-serif;
    /* background-color: rgba(0, 0, 0, 0.3);*/
    border-radius: 10px;
}

.header {
    background: linear-gradient(
        to bottom right,
        rgba(72, 72, 212, 0),
        rgba(241, 104, 104, 0)
      ),
      url("../images/backgrounds/growth-hand-little-1072824.jpg") center center no-repeat;
    background-size: cover;
    /* background-position: 0px -120px; */
    height: 100vh;
  }

  .header-content {
      padding-top: 5rem !important;
  }