#stage {
  margin: 1em auto;
  display: inline-block;
  width: 100%;
  height: 687.312px;
  border-radius: 30px;
}

@media (max-width: 575px) {
  #stage {
    /* problems width: 80% !important;
    height: 90vh;
    margin: auto !important;
     */
  }
  #stage a img {
    width: 80% !important;
    margin: auto;
  }
}

@media (min-width: 576px) {
  #stage {
    width: 525px;
    height: 988.609px;
  }
  #stage a img {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  #stage {
    width: 304.984px;
    height: 570.234px;
  }
  #stage a img {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  #stage {
    width: 365px;
    height: 687.312px;
  }
  #stage a img {
    max-width: 100% !important;
    width: 100% !important;
  }
}

#stage a {
  position: absolute;
}
#stage a img {
  /*padding: 10px;*/
  background-color: #2f2c3d;
  border: 0px solid white;
  border-radius: 30px;
}

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 20;
}
#stage a:nth-of-type(2) {
  z-index: 10;
}
#stage a:nth-of-type(n + 3) {
  display: none;
}

@keyframes fader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
